.roww  {display: flex;  
justify-content: center; }
.itemscenter{
    align-items: center;
 
    justify-content: center;
}

.size {
 
 width: 105px;
 max-height: 10px;  
 min-height: 120px;  

 
 margin-top: 10px;
 margin-left: 15px;
}
.size:hover{
    transform: scale(1.09);
    opacity: 1;
}
.poster{

 width: 650px;
 max-height: 250px;  
 min-height: auto;  

}
.carousel{
    max-width:  750px;
    height:350px;
}
.trailerIn{
    max-width: 30px;
   max-height:30px;
}

.margindown10{
    margin-bottom: 10px;
}


.margintop10{
    margin-top: 20px;
}

.black{
    background-color: black;
}
.btn-flat {
    background-color: black;
    color: white;
  }

.white{
    background-color: whitesmoke;
}

.whiteD{
    color:whitesmoke;
}
.flexRight{
    display: inline-flex;
    text-align: right;
}

.marginright10{
    margin-right: 10px;
}
.margintop20{
    margin-top:60px
}
div:empty {
    display: none;
 }
 .Row:empty{
     display: none;
 }
 .CardImg:empty{
     display:none;
 }
 .search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
  }
  .search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
  }
  .search-button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color:#0f0e0e;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
  }
  
  body {
    background: #CCC;
  }